<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ckai.vehicle.mapper.VehicleInfoMapper">

    <select id="pageQuery" resultType="com.ckai.vehicle.domain.VehicleInfo">
        SELECT * FROM vehicle_info
        <!--        <where>-->
        <!--            <if test="name != null and name != ''">-->
        <!--                and name like concat('%',#{name},'%')-->
        <!--            </if>-->
        <!--        </where>-->
        ORDER BY create_time DESC
    </select>

    <update id="update" parameterType="com.ckai.vehicle.domain.VehicleInfo">
        UPDATE vehicle_info
        <set>
            <if test="batteryType != null">battery_type = #{batteryType},</if>
            <if test="totalMileage != null">total_mileage = #{totalMileage},</if>
            <if test="batteryHealth != null">battery_health = #{batteryHealth},</if>
            <if test="updateTime != null">update_Time = #{updateTime},</if>
        </set>
        WHERE vid = #{vid};
    </update>
</mapper>
